@import 'src/assets/sass/variables.scss';

.Menu {
  width: 100%;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.Menu:not(.responsive) {
  display: none;
}

.Section-link {
  padding: 1rem 0;
  animation: pop-in .6s ease-out forwards;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;

  a {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }

  span {
    color: #888888;
  }

  span:hover {
    color: black;
  }
}

.Section-link.active a span {
  color: $color-pink;
}


@media (min-width: $layout-breakpoint-large) {
  .Menu {
    display: flex;
    position: initial;
    transform: none;
    justify-content: flex-end;
    flex-direction: row;
  }

  .Menu:not(.responsive) {
    display: flex;
  }

  .Menu.responsive {
    display: none;
  }

  .Section-link {
    padding: 0 1.5rem;
    span {
      font-size: 0.875rem;
      color: #0A0A14;
      line-height: 1;
      text-transform: uppercase;
      font-stretch: 100%;
      font-weight: 500;
    }
  }

  .Section-link:first-child {
    padding-left: 0;
  }

  .Section-link:last-child {
    padding-right: 0;
  }
}