@font-face {
  font-family: 'League spartan';
  src: url(../fonts/leaguespartan-bold.ttf);
  font-weight: bold;
}
body, header {
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
}
.text-color-main {
   color: #f55071;
}
.secondary-background {
  background-color: #2a3262;
}
.contact-color {
  color:  #505257;
}
.main-color { 
  color: #9BA9C5;
}
 h2, h3 {
  font-family: 'Source Sans Pro', sans-serif
}

.my-navbar {
  padding: .6rem 1rem;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
}


.img-home {
  background-position: center center;
  background-image: url('https://images.pexels.com/photos/939331/pexels-photo-939331.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
}
.font-l-spartan {
  font-family: 'League spartan',  serif; 
}
.bg-skills {
  background-color:   #2a3262;
}

.background-main {
  background-color: #f55071;
}

.main-text {
  color: #f55071;
}
.secondary-text {
  color:#2a3262;
}
#navbar a {
  color: #2a3262;
}

#navbar a:hover {
  color: #f55071;
} 
.size-icons {
  font-size: 3rem;
}
.total-height {
  height: 100vh;
}

.img {
  width: auto;
  height: auto;
}
/* .container-description-p{ 
	opacity:0;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}  */

/* .overlay:hover .container-description-p { 
	opacity:9; 
  color:#FFFFFF; 
  /* color:#FC7162; */
  font-weight:700;
  background-color: rgba(0, 0, 0, 0.6);
	background-color: rgba(26, 74, 114, 0.8);;
	text-align: center;
	padding-top: 20%;
	min-height: 100%; 
} */

.padding-none {
  padding: 0px;
  margin: 0%;
}


/* Estilos a home*/

.borde3 {
  background-color: #EFF0F4;

}
.borde1{
background-color:  #2a3262;
}
.borde1 a {
  padding: 1rem 1rem; 
}

.btn-green {
  background-color:  #f55071;
  color: white;
}
i:hover {
  color: #f55071;
}

@media (min-width: 445px) { 
  h1 {
    font-size: 5rem;
  }
 }