@import '../../assets/sass/variables.scss';

.Hero-content {
  padding: 4.5rem 0 3.75rem 0;
}

.Hero-text {
  padding-right: 0.938rem;
}

.Hero-main-text {
  font-size: 2rem;
  color: #0A0A14;
  line-height: 2.563rem;
  font-weight: 500;
}

.Hero--company-name {
  color: $color-pink;
}

.Hero--subtitle {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  span {
    // color: white;
    padding: .8rem;
    // background-color: #de0f66;
    background-color: #f0f2f6;
  }
}

.profile {
  max-width: 100%;
  height: auto;
}

@media (min-width: $layout-breakpoint-small) {
  .Hero-content {
    padding: 6rem 0 7.75rem 0;
  }

  .Hero-main-text {
    font-size: 3.125rem;
    line-height: 3.749rem;
  }

  .Hero--subtitle {
    font-size: 1.625rem;
    padding-top: 1.25rem;
  }

}


@media (min-width: $layout-breakpoint-medium) {
  .Hero-content {
    display: flex;
    justify-content: center;
    // justify-content: space-between;
    // position: relative;
  }

  .Hero-text {
    // width: 56.5%;
    // max-width: 56.5%;
    max-width: 80%;
    flex: 1 0 auto;
  }

}
