:root {
  --height-nav : 60px;
  --font-size-nav-links: 16px;
  --font-size-h1: 67px;
  --font-size-h2: 27px;
  --height-icons-hero: 59px;/* iconos  linkedin, github, skills*/
  --font-size-h3: 29px;/* titles section*/
  --font-size-text: 13px;/* text hero*/
  --height-progres-bar : 16px;
  --width-progres-bar : 16px;
  --height-text-skills : 220px;
  --height-img-proyect : 220px;
  --background-white: #fff;
  --gray: #E5E7E9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* padding: 0;
  margin: 0; */
  background-color: var(--gray);
}
.navbar {
  background: var(--background-white);
  padding: 0.5rem 1rem;
}

.menu {
  list-style: none;
}

.menu {
  display: flex;
}

.menu  .link {
  text-decoration: none;
  font-weight: 450px;
  padding: 0.5rem;
  display: block;
}




/* @font-face {
  font-family: 'League spartan';
  src: url(../fonts/leaguespartan-bold.ttf);
  font-weight: bold;
}
body, header, * {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body {
  position: relative; 
}
ul {
  list-style: none;
}
.background-gray {
  background-color: #E5E7E9;  
}
.background-pink {
  background-color:  #f55071;
}

.background-purple {
    background-color: #2a3262; 
}
.pink-text {
  color: #f55071;
}
.purple-text {
  color: #2a3262; 
}

#navbar a {
  color:  #2a3262;
  font-family: 'League spartan';
}

.card a:hover {
  background-color: #2a3262;
}
#navbar a:hover, #contact i:hover, #navbar li:hover {
  color: #f55071;
} 
.grey-text { 
  color: #9BA9C5;
}

 h2, h3 {
  font-family: 'League spartan' ;
}

.img-home {
  background-position: center center;
  background-image: url('../img/home-portafolio.png');
   background-repeat: no-repeat;
  background-size: cover; 
}
.font-l-spartan {
  font-family: 'League spartan',  serif; 
}

.size-icons {
  font-size: 4rem;
}
.total-height {
  height: 90vh;
}

@media (min-width: 445px) { 
  h1 {
    font-size: 5rem;
  }
 } */