@font-face {
  font-family: 'League spartan';
  src: url(../fonts/leaguespartan-bold.ttf);
  font-weight: bold;
}
body, header, * {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body {
  position: relative; 
}
ul {
  list-style: none;
}
.background-gray {
  background-color: #E5E7E9;  
}
.background-pink {
  background-color:  #f55071;
}

.background-purple {
    background-color: #2a3262; 
}
.pink-text {
  color: #f55071;
}
.purple-text {
  color: #2a3262; 
}

#navbar a {
  color:  #2a3262;
  font-family: 'League spartan';
  /*  */
}

.card a:hover {
  background-color: #2a3262;
}
#navbar a:hover, #contact i:hover, #navbar li:hover {
  color: #f55071;
} 
.grey-text { 
  color: #9BA9C5;
}

 h2, h3 {
  font-family: 'League spartan' ;
}

.img-home {
  background-position: center center;
  background-image: url('../img/home-portafolio.png');
   background-repeat: no-repeat;
  background-size: cover; 
}
.font-l-spartan {
  font-family: 'League spartan',  serif; 
}

.size-icons {
  font-size: 4rem;
}
.total-height {
  height: 90vh;
}

@media (min-width: 445px) { 
  h1 {
    font-size: 5rem;
  }
 }