 :root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --purple : #2a3262;
  --bold: 700;
  --pink: #f55071;
  --gray:#E5E7E9;
}

*, :before, :after  {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  background-color: var(--gray);
}
@font-face {
  font-family: 'League spartan';
  src: url(../fonts/leaguespartan-bold.ttf);
  font-weight: bold;
}

.navbar {
  background: white;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.menu-link {
  font-family: 'League spartan';
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  color: var(--purple);
  font-weight: var(--bold);
}

.menu-item:hover {
  color: var(--pink);
  cursor: pointer;
}

.menu {
  display: none;
  list-style: none;
  margin-top: .5rem;
}

.menu-button {
  background-color: transparent;
  color: rgba(0,0,0,.3);
  border: 1px solid  rgba(0,0,0,.3);
}
.menu-button:hover {
  border-color: rgba(0,0,0,.6);
  cursor: pointer;
}

.container-menu-button {
  padding: 0.5rem 0;
}

.menu-button {
  padding: 4px 12px;
  border-radius: .25rem;
} 

.d-block {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .menu {
    display: flex;
    margin-top: 0;
    justify-content: space-around;
  }
  
  .menu-link:hover, .menu-link:active {
    color: var(--pink);
    border-bottom : 3px solid var(--pink);    

  }
}

 /* @font-face {
  font-family: 'League spartan';
  src: url(../fonts/leaguespartan-bold.ttf);
  font-weight: bold;
}
body, header {
  font-family: 'Montserrat', sans-serif;
}
body {
  position: relative; 
}
ul {
  list-style: none;
}
.background-gray {
  background-color: #E5E7E9;  
}
.background-pink {
  background-color:  #f55071;
}

.background-purple {
    background-color: #2a3262; 
}
.pink-text {
  color: #f55071;
}
.purple-text {
  color: #2a3262; 
}

#navbar a {
  color:  #2a3262;
  font-family: 'League spartan';
}

.card a:hover {
  background-color: #2a3262;
}
#navbar a:hover, #contact i:hover, #navbar li:hover {
  color: #f55071;
} 
.grey-text { 
  color: #9BA9C5;
}

 h2, h3 {
  font-family: 'League spartan' ;
}

 .img-home {
  background-position: center center;
  background-image: url('../img/home-portafolio.png');
   background-repeat: no-repeat;
  background-size: cover; 
} 
.font-l-spartan {
  font-family: 'League spartan',  serif; 
}

.size-icons {
  font-size: 4rem;
}
.total-height {
  height: 90vh;
}

@media (min-width: 445px) { 
  h1 {
    font-size: 5rem;
  }
 }  */
