@import 'src/assets/sass/variables.scss';

.Header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    right: 0;

}
.Header.responsive-open {
    height: 100vh;
    min-height: 32rem;
    align-items: stretch;
    background-color: rgb(245,245,245);
}

.Toolbar {
    color: white;
    width: 100%;
    height: 8rem;
    padding: 0 1rem;
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.Logo {
    height: 2rem;
    width: 2.5rem;
}





@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @media (min-width:  $layout-breakpoint-extra-small) {
    .Toolbar {
        padding: 0 1.5rem;
    }
  }


