@import './variables.scss';

.Container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1410px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.25rem;
}

@media (min-width: $layout-breakpoint-small){
    .Container {
        padding: 0 1.875rem;
    }
}
@media (min-width: $layout-breakpoint-medium){
    .Container {
        padding: 0 1.25rem;
    }
}

@media (min-width: $layout-breakpoint-large){
    .Container {
        padding: 0 1.875rem;

    }
}
@media (min-width: $layout-breakpoint-extra-large){
    .Container {
        padding: 0 7.5rem;
    }
}
