@import './variables.scss';

.Project {
  background-size: 600% 600%;
  min-height: 40rem;
  -webkit-animation: flow 11s ease infinite;
  animation: flow 11s ease infinite;
  position: relative;
  overflow: hidden;

  .Project-description {
    min-height: 8.5rem;
  }

  .project {
    padding: 4rem 2.5rem 0;
    overflow: hidden;
  }

  .icon {
    display: inline;
    margin-left: .5rem;
  }

  .Project-description-action {
    border: none;
    background: none;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    padding: .5rem 1rem .5rem 0;
  }

  .Project-description-subtitle {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .Project-description-title {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    padding-bottom: 1rem;

  }

  .Project-img {
    cursor: pointer;
    position: absolute;
    width: auto;
    height: auto;
    padding: 2rem 0  0 2rem;
    border-top-left-radius: 20px;
    background-color: white;

    img {
      left: 0;
      max-width: 120%;
      height: auto;
      object-fit: cover;
      object-position: left top;
      border: 1px solid #d0d0d3;
      height: 400px;
      width: 600px;
    }

  }
}

.firstProject {
  @extend .Project;
  /*background-color: #F7E3F2;*/
  background-color: #f7def1;

  /*
  background-image: linear-gradient(135deg, #40b396 1.19%, #30aeb6 52.6%, #2986ba);

  */
  ;
}

.secondProject {
  @extend .Project;
  background-color: #d1e3fa;

  /*  background-color: #E2EEFE;*/
  /* background-color: #d6caf9;*/

  /* background-image: linear-gradient(315deg, #415cec, #4894e1 51.04%, #499dd1);*/
  /*background-image: linear-gradient(315deg, #B6D7EC, #daebf5 51.04%, #B6D7EC);
*/
}

/*F7E3F2*/
/*
.secondProject {
  @extend .Project;
  background-image: linear-gradient(315deg, rgb(26, 43, 82), rgb(65, 137, 255), #DDEEFE);
}
*/
.thirdProject {
  @extend .Project;
  background-color: #ccf5ba;
  /* background-image: linear-gradient(337.42deg, #e7578b, #ed8970);
  ;*/
}

.fourthProject {
  @extend .Project;
  background-color: #d6caf9;
  /*
  background-image: linear-gradient(112deg, #efa434, #f0530f);
  */
}


.fifthProject {
  @extend .Project;
  background-image: linear-gradient(112deg, #3f3652, #183045);
}

@-webkit-keyframes flow {
  0% {
    background-position: 23% 0
  }

  50% {
    background-position: 78% 100%
  }

  to {
    background-position: 23% 0
  }
}

@keyframes flow {
  0% {
    background-position: 23% 0
  }

  50% {
    background-position: 78% 100%
  }

  to {
    background-position: 23% 0
  }
}

@-webkit-keyframes textShine {
  to {
    background-position: 200%
  }
}

@keyframes textShine {
  to {
    background-position: 200%
  }
}

.budges {
  padding: 2rem 0 0 0;
}

.budge {
  background-color: #f0f2f6;
  display: inline;
  padding: 5px 1rem;
  border-radius: 15px;
  margin-right: 5px;
  font-weight: lighter;
}

@media (min-width:  $layout-breakpoint-large){
  .Project-img-wrapper {
    padding-left: 3.5rem;
  }
}
