@import './variables.scss';

.Projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem 1.875rem;
}

@media (min-width: $layout-breakpoint-medium) {
  .Projects {
    grid-gap: 2rem;
  }
}
