
  $color-gray: #7C829B;
  $color-gray-ligth: #d0d0d3;

  $color-purple-gray: #9888A8;
  $color-dark-gray: #36434B;
  $color-black: #050719;
  $color-purple: #392AC8;
  $color-dark-purple: #1A2252;
  $color-red: #DB2F33;
  $color-green: #0FA68A;
  $logo-color: #de60f6;

  $font-family: "Calibre", sans-serif;
  $color-pink: #DE0F66;
  $color-black: #292A2C;


  // $layout-breakpoint-extra-small: 23.4375rem;
  
  $layout-breakpoint-small: 34rem;//594
  $layout-breakpoint-medium: 47.9375rem;//767
  $layout-breakpoint-large: 61.9375rem;//991
  $layout-breakpoint-extra-large: 74.9375rem;//1199
